@media (min-width: 361px) {
  .section {
    width: 768px;

    .desktop_img {
      width: 689px;
      height: 386px;
    }

    .images_wrapper {
      img {
        width: 124px;
        height: 89px;
        margin: 0 14px;
      }
    }

    .carousel_wrapper {
      flex-direction: column-reverse;
      margin-top: 114px;

      .text_block {
        margin-left: 66px;
        padding-top: 0;
        margin-top: -100px;
      }
    }
  }
}

@media (min-width: 769px) {
  .section {
    width: 1024px;

    .desktop_img {
      width: 984px;
      height: 549px;
    }

    .images_wrapper {
      img {
        width: 138px;
        height: 98px;
        margin: 0 30px;
      }
    }

    .carousel_wrapper {
      margin-top: 114px;
      flex-direction: row;

      .text_block {
        margin-top: 0;
        padding-top: 10%;
        margin-left: 77px;
      }
    }
  }

}

@media (min-width: 1025px) {
  .section {
    width: 1280px;

    .desktop_img {
      width: 984px;
      height: 550px;
    }

    .images_wrapper {

      img {
        width: 138px;
        height: 98px;
      }
    }

    .carousel_wrapper {
      flex-direction: row;
      margin-top: 114px;

      .text_block {
        margin-top: 0;
        padding-top: 10%;
        margin-left: 77px;
      }
    }
  }
}

.section {
  height: 1620px;

  .partners_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .desktop_img {
      margin-top: -90px;
      position: relative;
      background-size: cover;
      background-image: url('../../../assets/image/desktop@3x.png');
    }

    h1 {
      font-weight: 600;
      color: #21272e;
      font-size: 32px;
      margin: 114px 0 0 0;
    }

    .images_wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 58px;

      img {
        object-fit: contain;
      }
    }
  }

  .carousel_wrapper {
    display: flex;
  }

  .text_block {
    width: 381px;

    h1 {
      color: #21272e;
      font-weight: bold;
      font-size: 32px;
      width: 290px;
    }

    p {
      width: 381px;
      font-size: 18px;
      text-align: left;
      position: static;
      color: #787c80;
      font-weight: 600;
      margin-top: 0;
    }
  }
}