.section {
  background-color: #fcfdff;
  text-align: center;
  height: 1130px;
}

button {
  display: inline;
  z-index: 1;
}

.content_wrapper h1 {
  padding-top: 36px;
  font-size: 13px;
  text-align: center;
  color: #f43939;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0 0 0 22px;
}

.content_wrapper h2 {
  line-height: 39px;
  font-size: 28px;
  width: 312px;
  font-weight: bold;
  text-align: center;
  color: #21272e;
  align-items: center;
  margin: 13px auto 0;
}

.button {
  position: relative;
  z-index: 2;
  border: none;
  border-radius: 8px;
  box-shadow: 0 8px 27px -10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(104deg, #ff474d, #fa4353);
  color: #ffffff;
  line-height: 1.33;
  font-weight: 400;
  margin-top: 48px;
  width: 214px;
  height: 52px;
  font-size: 15px;
  cursor: pointer;
  outline-offset: 0;
  text-shadow: none;
}

.button:hover {
  background-image: linear-gradient(104deg, #f0464b, #f0505d);
  transition: .4s;
}

.bg_img_wrapper {
  margin: auto;
  position: absolute;
  height: 558px;
  box-sizing: border-box;
  display: flex;
  min-width: 320px;
  max-width: 767px;
  right: 0;
  left: 0;
  top: 515px;
}

.fruits_image_wrapper {
  height: 528px;
  position: absolute;
  left: 50%;
  width: 50%;
  overflow: hidden;
}

.fruits_image_wrapper img {
  position: absolute;
  left: 18px;
  top: 65px;
  min-width: 286px;
  height: 526px;
}

.boxes_image_wrapper {
  height: 554px;
  min-width: 225px;
  width: 50%;
  position: absolute;
}

.boxes_image_wrapper img {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 400px;
  min-height: 554px;
  height: 554px;
}

.content_wrapper p {
  font-size: 12px;
  position: static;
  color: #909599;
  text-align: center;
  margin-top: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

@media (min-width: 768px) {
  .section {
    height: 620px;
  }

  .content_wrapper {
    margin: 0 auto;
    width: 768px;
  }

  .content_wrapper h1 {
    margin: 0;
    padding-top: 113px;
  }

  .content_wrapper h2 {
    font-size: 40px;
    width: 718px;
    line-height: 57px;
    margin: 13px auto 0;
  }

  .button {
    margin-top: 112px;
  }

  .bg_img_wrapper {
    top: 100px;
    max-width: 1023px;
  }

  .boxes_image_wrapper img {
    right: 235px;
    top: 25px;
  }

  .fruits_image_wrapper img {
    left: 223px;
    top: 11px;
  }
}

@media (min-width: 1024px) {
  .section {
    height: 620px;
  }

  .content_wrapper {
    width: 1024px;
  }

  .content_wrapper h2 {
    width: 812px;
  }

  .button {
    margin-top: 48px;
  }

  .bg_img_wrapper {
    max-width: 1279px;
  }

  .boxes_image_wrapper img {
    right: 331px;
  }

  .fruits_image_wrapper img {
    left: 335px;
  }
}

@media (min-width: 1280px) {
  .section {
    height: 620px;
  }

  .content_wrapper h2 {
    width: 812px;
  }

  .content_wrapper {
    width: 1280px;
  }

  .bg_img_wrapper {
    max-width: 4000px;
  }

  .boxes_image_wrapper img {
    right: 363px;
  }

  .fruits_image_wrapper img {
    left: 374px;
  }
}




