.mainSection {
  height: 620px;
  background-color: #fcfdff;
  text-align: center;


  .title {
    text-align: center;
    color: #f43939;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0;
    padding-top: 100px;
    font-family: manrope;
  }

  .titleInfo{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #21272e;
    width: 812px;
    align-items: center;
    margin-top: 16px;
    margin-left: 234px;
    font-family: manrope;
  }

  button{
    width: 214px;
    height: 52px;
    border-radius: 8px;
    background-image: linear-gradient(104deg, #ff474d, #fa4353);
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    padding-left: 73.5px;
    line-height: 1.33;
    font-weight: 400;
    margin-top: 40px;
  }

  .fruitsImageWrapper{
    position: absolute;
    background-image: url('../../../assets/image/Fruits.png');
    width: 273px;
    height: 536px;
    margin-left: 1017px;
    background-position: left;
    background-size: cover;
    margin-top: 44px;
  }

  .smallText {
    font-size: 12px;
    font-weight: 500;
    color: #909599;
    text-align: center;
    margin-top: 15px;
  }
}

.boxesImageWrapper {
  position: absolute;
  width: 273px;
  height: 536px;
  background-image: url('../../../assets/image/Boxes.png');
  background-size: cover;
  background-position: right;
  margin-top: 44px;
}