.section {
  background-color: #fafbfd;
  height: 749px;
  box-sizing: border-box;
  margin: 0;
}

.section_content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 320px;
  margin: 0 auto;
  text-align: center;
  height: 689px;
  padding: 56px 0 0;
}

.section_img {
  right: 0;
  top: 0;
  order: 2;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  align-items: center;
  width: 343px;
  height: 206px;
}

.section_header {
  order: 1;
  text-align: center;
}

.section_text {
  margin-top: 58px;
  order: 3;
}

.section_header h1 {
  font-size: 32px;
  font-weight: bold;
  color: #21272e;
  margin: 0;
  letter-spacing: normal;
}

.button {
  margin: 40px 13px 67px;
  z-index: 1;
  width: 128px;
  height: 48px;
  font-size: 13px;
  border-radius: 6px;

  background-color: #ffffff;
  color: #787c80;
  cursor: pointer;

  border: solid 1px rgba(144, 149, 153, 0.35);
  background-color: rgba(255, 255, 255, 0);

}

.button:active,
.button:focus {
  outline: 0;
}

.button:hover {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.button_active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.11);
  border: solid 1px rgba(33, 39, 46, 0.05);
  color: #f43939;
}

.section_text .line {
  margin-left: 20px;
  display: none;
  width: 408px;
  height: 1px;
  opacity: 0.2;
  background-color: #21272e;
}

.section_img img {
  max-width: 624px;
  width: 100%;
}

.section_text h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #21272e;
  margin: 0;
}

.section_text p {
  font-size: 18px;
  position: static;
  font-weight: 600;
  color: #787c80;
  width: 322px;
  margin: 8px auto 0;
  line-height: 30px;
}

@media (min-width: 768px) {

  .section {
    height: 875px;
  }

  .section_content {
    width: 768px;
    padding: 59px 0 0;
  }

  .section_img {
    right: 18px;
    top: 23px;
    width: 469px;
    height: 100%;
  }

  .section_text {
    margin-top: 83px;
  }

  .section_text p {
    width: 326px;
  }
}

@media (min-width: 1024px) {
  .section_content {
    width: 1024px;
    height: 415px;
    flex-wrap: wrap;
    padding: 94px 0 0;
  }

  .section {
    height: 559px;
  }

  .section_header {
    margin: 0;
    width: 400px;
    text-align: left;
  }

  .section_header h1 {
    margin: 0 0 0 21px;
  }

  .section_img {
    top: 66px;
    width: 530px;
    right: -25px;
    margin: 0;
    order: 1;
  }

  .section_img img {
    max-width:  466px;
  }

  .section_text {
    margin: 0;
    width: 400px;
    text-align: left;
  }

  .section_text h2 {
    margin: 56px 0 0 20px;
    text-align: left;
  }

  .section_text p {
    width: 408px;
    margin: 8px 0 0 17px;
    text-align: left;
  }

  .section_text .line {
    display: block;
  }

  .button {
    margin: 35px 7px 64px 18px;
  }
}

@media (min-width: 1280px) {
  .section_content {
    width: 1280px;
    padding: 91px 0 0;
  }

  .section_img {
    top: 19px;
    width: 624px;
    right: -50px;
  }

  .section_img img {
    max-width:  624px;
  }

  .section_header {
    margin: 0 0 0 90px;
  }

  .section_header h1 {
    margin: 0;
  }

  .button {
    margin: 35px 24px 64px 0;
  }

  .section_text {
    margin: 0 0 0 70px;
  }
}
