@media (max-width: 360px) {
  .section {
    width: 360px;

    .first_block {
      text-align: center;

      .header_text_wrapper {
        margin-top: 0;
        h1 {
          padding-top: 50px;
        }

        .buttons_wrapper {
          button {
            display: inline;
          }
        }
      }

      img {
        margin-left: 0;
        width: 340px;
      }
    }

    .second_block {
      .line {
        display: none;
      }

      h2 {
        text-align: center;
      }

      p {
        padding-bottom: 74px;
        width: 322px;
        margin: 0 auto;
      }
    }
  }
}


@media (min-width: 361px) {
  .section {
    width: 768px;

    .first_block {
      text-align: center;
    }

    .second_block {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .line {
        display: none;
      }

      h2 {
        margin-top: 81px;
      }

      p {
        padding-bottom: 82px;
        width: 326px;
      }
    }

    img {
      margin-left: 0;
      width: 410px;
    }

    .header_text_wrapper {
      h1 {
        padding-top: 63px;
      }
    }
  }
}


@media (min-width: 769px) {
  .section {
    width: 1024px;

    .header_text_wrapper {
      margin-left: 89px;
      margin-top: -30px;
    }

    img {
      margin-left: 35px;
      width: 470px;
    }

    .first_block {
      text-align: left;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding-top: 96px;

      h1 {
        padding-top: 0;
      }
    }

    .second_block {
      text-align: left;
      margin: -115px 0px 0px 595px;
      display: block;

      h2 {
        text-align: left;
        margin-top: 56px;
      }

      p {
        width: 408px;
        text-align: left;
      }

      .line {
        display: block;
      }
    }
  }
}

@media (min-width: 1025px) {
  .section {
    width: 1280px;

    .header_text_wrapper {
      margin-left: 122px;
      margin-top: 0;
    }

    img {
      width: 600px;
    }

    .second_block {
      margin: -163px 0px 0px 757px;
    }
  }
}

.section {
  background-color: #fcfdff;

  h1 {
    font-size: 32px;
    font-weight: bold;
    color: #21272e;
    margin: 0;
  }

  .buttons_wrapper {
    margin-top: 40px;

    button {
      width: 128px;
      height: 48px;
      font-size: 13px;
      border-radius: 6px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.11);
      border: solid 1px rgba(33, 39, 46, 0.05);
      background-color: #ffffff;
      margin-right: 20px;
      margin-bottom: 60px;
      color: #f43939;
    }
  }

  .line {
    width: 408px;
    height: 1px;
    opacity: 0.2;
    background-color: #21272e;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.67;
    color: #21272e;
  }

  p {
    font-size: 18px;
    position: static;
    margin-top: 0;
    font-weight: 600;
    line-height: 1.67;
    color: #787c80;
  }
}

#after {
  color: #787c80;
}

