@media (min-width: 769px) {
  .section {
    margin-top: 125px;

    img {
      margin-top: 130px;
    }

    .info_wrapper {
      h1 {
        margin: 0;
        font-size: 34px;
      }

      .buttons_wrapper {
        width: 350px;

        button {
          width: 144px;
          height: 54px;
          font-size: 14px;
        }
      }

      .line {
        width: 490px;
      }

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 20px;
        width: 458px;
        padding-bottom: 120px;
      }
    }
  }
}

@media (min-width: 1025px) {
  .section {
    margin-top: 0;

    img {
      margin-top: 80px;
    }

    .info_wrapper {
      h1 {
        font-size: 30px;
      }

      .buttons_wrapper {
        button {
          width: 128px;
          height: 48px;
          font-size: 13px;
        }
      }

      .line {
        width: 408px;
      }

      h2 {
        font-size: 18px;
      }

      p {
        font-size: 18px;
        width: 408px;
        padding-bottom: 70px;
      }
    }
  }
}


.section {
  width: 1280px;
  background-color: #fcfdff;
  font-family: manrope;

  img {
    position: absolute;
    width: 600px;
    margin-left: 35px;
  }

  .info_wrapper {
    margin-left: 760px;
    padding-top: 80px;

    h1 {
      font-weight: bold;
      color: #21272e;
    }

    .buttons_wrapper {
      margin-top: 30px;

      button {
        border-radius: 6px;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.11);
        border: solid 1px rgba(33, 39, 46, 0.05);
        background-color: #ffffff;
        margin-right: 20px;
        margin-bottom: 60px;
        color: #f43939;
      }
    }

    .line {
      height: 1px;
      opacity: 0.2;
      background-color: #21272e;
    }

    h2 {
      margin-top: 40px;
      font-weight: bold;
      line-height: 1.67;
      color: #21272e;
    }

    p {
      text-align: left;
      position: static;
      margin-top: 0;
      font-weight: 600;
      line-height: 1.67;
      color: #787c80;
    }
  }
}


#after {
  color: #787c80;
}

