%input_style {
  border-radius: 10px;
  border: solid 1px rgba(144, 149, 153, 0.35);
  background-color: #ffffff;
}

%input_placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  color: #b4babf;
  padding-left: 20px;
}

.form {
  margin: 0 auto;
  width: 312px;
  height: 489px;
  border-radius: 13px;
  box-shadow: 0 6px 14px -6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.input_wrapper {
  margin: 0 27px;
  padding-top: 15px;
  text-align: center;
}

.input_wrapper h1 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #21272e;
  margin-bottom: 40px;
}

.input_tel {
  display: flex;
  flex-direction: row;
  height: 89px;
}

.input_text {
  width: 252px;
  height: 89px;
}

input:focus {
  outline: none;
  border-color: #000;
}

.first_numbers {
  height: 56px;
  @extend %input_style;
}

.first_numbers::placeholder {
  @extend %input_placeholder;
}

.last_numbers {
  height: 56px;
  @extend %input_style;
  margin-left: 10px;
  background-image: url('../../../../assets/image/icon-24-phone.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 24px;
}

.buttons_wrapper {
  flex-direction: column;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.button {
  display: block;
  width: 252px;
  height: 52px;
  border-radius: 8px;
  color: #ffffff;
  background-image: linear-gradient(107deg, #ff474d, #fa4353);
  font-size: 15px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  cursor: pointer;

  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.buttons_wrapper p {
  margin-left: 0;
  margin-top: 15px;
  position: static;
  font-size: 12px;
  font-weight: 500;
  color: #909599;
}

.input_text input {
  width: 252px;
  height: 56px;
  @extend %input_style;
}

.first_numbers {
  width: 80px;
}

.last_numbers {
  width: 156px;
}

input:focus {
  outline: none;
  border-color: #000;
}

input::placeholder {
  @extend %input_placeholder;
}

@media (min-width: 768px) {
  .form {
    margin: 0 auto;
    width: 407px;
    height: 461px;
  }

  .input_wrapper {
    margin: 0 32px;
  }

  .input_wrapper h1 {
    text-align: left;
  }

  .input_text {
    width: 343px;
  }

  .input_text input {
    width: 343px;
    height: 56px;
  }

  .input_tel {
    height: 89px;
  }

  .first_numbers {
    width: 96px;
  }

  .last_numbers {
    width: 231px;
  }

  .buttons_wrapper {
    flex-direction: row;
  }

  .button {
    width: 172px;
  }

  .buttons_wrapper p {
    margin-left: 25px;
  }
}




