.language_block {
  margin: 0 auto 0;
  width: 288px;
  height: 149px;
  border-radius: 8px;
  box-shadow: 0 6px 14px -6px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.36;
  color: #21272e;
  justify-content: space-around;
}

.country_column {
  margin: 19px 0 0 0;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 10px 2px;
}

.country img {
  width: 15px;
  height: 15px;
  margin: 5px 9px 0 0;
}

.country p {
  margin: 0;
  font-size: 14px;
  text-align: left;
  color: #21272e;
  align-items: center;
  position: static;
}


@media (min-width: 768px) {
  .language_block {
    margin: 0px auto 0 253px;
  }

  .country {
    margin: 0 0 -5px 4px;
  }

  .country p {
    color: #21272e;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .country img {
    margin: -11px 10px 0 0;
  }
}

@media (min-width: 1024px) {
  .language_block {
    margin: -6px -23px 0px;
  }
}