.wrapper {
    width: 1280px;
    height: 80px;
    background-color: #fcfdff;
    align-items: center;
    font-family: manrope;
}

.header_block {
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-left: 64px;
    margin-right: 76px;
    justify-content: space-between;
    align-items: center;
}


.color_logo {
    width: 120px;
    height: 48px;
    object-fit: contain;
    margin-right: 14px;
}

.Rectangle {
    width: 1px;
    height: 24px;
    opacity: 0.2;
    background-color: #21272e;
    margin-right: 24px;
}
button{
    width: 103px;
    height: 36px;
    border-radius: 6px;
    border: solid 1px rgba(144, 149, 153, 0.35);
    background-color: rgba(255, 255, 255, 0);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #21272e;
    font-family: manrope;
}

.nav_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}