@media (min-width: 769px) {
  .wrapper {

    .footer {
      margin-left: 35px;
      margin-right: 35px;
    }
  }
}

@media (min-width: 1025px) {
  .wrapper {

    .footer {
      margin-left: 64px;
      margin-right: 76px;
    }
  }
}

.wrapper {
  width: 1280px;
  height: 146px;
  background-color: #21272e;

  .footer {
    height: 146px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}


button {
  width: 103px;
  height: 36px;
  border-radius: 6px;
  border: solid 1px rgba(144, 149, 153, 0.35);
  background-color: rgba(255, 255, 255, 0);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #21272e;
  font-family: manrope;
}

.nav_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .social_logo {
    display: flex;
    flex-direction: row;

    img {
      width: 20px;
      height: 20px;
      margin: 0 10px 0 0;
    }
  }

  .line {
    width: 1px;
    height: 24px;
    opacity: 0.2;
    background-color: #ffffff;
    margin-right: 24px;
  }

  img {
    width: 120px;
    height: 48px;
    object-fit: contain;
    margin-right: 14px;
  }
}


.store_wrapper {
  width: 129px;
  height: 41px;
  object-fit: contain;
  margin: 0 auto;
}

.store_images {
  width: 300px;
  display: flex;
  flex-direction: row;
}

p {
  position: absolute;
  font-family: Manrope;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
  margin-top: 100px;
}