@media (max-width: 767px) {
  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav a {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

@media (min-width: 768px) {
  .nav a {
    margin-right: 24px;
  }
}

.nav a {
  text-decoration: none;
  height: 17px;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
}

.nav a:hover {
  color: #3897ff;
}