.App {
  max-width: 1280px;
  ;
}

.linesReverseWrapper{
  z-index: -1;
  position: absolute;
  width: 958px;
  height: 1516px;
  margin-top: 804px;
  margin-left: 230px;
}

.linesWrapper {
  width: 598px;
  height: 787px;
  position: absolute;
  margin-top: 7px;
  margin-left: 598px;
}

.linesWrapper img {
  width: 598px;
  height: 787px;
  object-fit: contain;
}


