@media (min-width: 769px) {
  .section {

    .text_block {
      justify-content: space-between;
      margin: 0 40px;

      h1 {
        font-size: 40px;
      }

      p {
        width: 510px;
        font-size: 20px;
        margin-top: 65px;
      }
    }
  }
}

@media (min-width: 1025px) {
  .section {

    .text_block {
      justify-content: space-around;

      h1 {
        font-size: 32px;
      }

      p {
        width: 449px;
        font-size: 18px;
        margin-top: 20px;
      }
    }
  }
}

.section {
  margin-top: 90px;
  width: 1280px;
  font-family: manrope;

  .text_block {
    display: flex;
    flex-direction: row;

    h1 {
      color: #21272e;
      font-weight: bold;
      width: 440px;
    }

    p {
      text-align: left;
      position: static;
      font-weight: 600;
      line-height: 1.67;
      color: #787c80;
    }
  }

  .cards_wrapper {
    margin: 93px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .card {
      width: 316px;
      height: 552px;
      border-radius: 52px;
      background-color: #e1eff0;

      img {
        width: 300px;
        margin-left: -38px;
        margin-top: 40px;
      }

      .card_text_wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: -45px;

        p {
          margin-top: 20px;
          position: static;
          opacity: 0.4;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          color: #21272e;
        }

        img {
          width: 30px;
          margin: 0;
        }
      }
    }
  }
}