.section {
  height: 1912px;
}

.content {
  padding-top:  35px;
}

.text_block {
  max-width: 360px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.text_block h1 {
  line-height: 40px;
  font-size: 28px;
  color: #21272e;
  font-weight: bold;;

}

.text_block p {
  max-width: 360px;
  margin: 0 auto 0;
  font-size: 18px;
  position: static;
  font-weight: 600;
  line-height: 1.67;
  color: #787c80;
}

.cards_wrapper {
  margin: 60px auto;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.card {
  width: 265px;
  height: 464px;
  border-radius: 46.8px;
  margin-bottom: 48px;
  background-color: #e1eff0;
}

.card_text_wrapper {
  flex-direction: column;
  margin-top: -27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_text_wrapper p {
  font-size: 14px;
  margin: 0;
  position: static;
  opacity: 0.4;
  font-weight: 600;
  text-align: center;
  color: #21272e;
}

.card img {
  margin-top: 35px;
  margin-left: -28px;
  width: 246px;
}

.card_text_wrapper img {
  width: 24px;
  margin: 0;
  transform: rotate(90deg);
}
.card_text_wrapper img[title = 'check image']{
  transform: rotate(360deg);
}

@media (min-width: 768px) {
  .section {
    height: 2867px;
    margin-top: 34px;
  }

  .text_block {
    max-width: 499px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text_block h1 {
    font-size: 32px;
    width: 558px;
  }

  .text_block p {
    margin: 0 auto 0;
    max-width: 449px;
  }


  .cards_wrapper {
    margin: 101px auto;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 411px;
    height: 718px;
    border-radius: 67.6px;
    margin-bottom: 96px;
  }

  .card img {
    margin-top: 52px;
    margin-left: -44px;
    width: 397px;
  }

  .card_text_wrapper {
    flex-direction: column;
    margin-top: -45px;
  }

  .card_text_wrapper p {
    font-size: 16.2px;
  }

  .card_text_wrapper img {
    width: 25px;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .section {
    height: 800px;
    margin-top: 80px;
  }

  .content {
    width: 1024px;
    margin: 0 auto;
  }

  .text_block {
    max-width: 960px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    margin: -8px 33px 0;
  }

  .text_block h1 {
    margin-left: 35px;
    width: 440px;
  }

  .text_block p {
    margin: 29px -11px 0 0px;
    text-align: left;
  }


  .cards_wrapper {
    margin: 72px 68px 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 265px;
    height: 464px;
    border-radius: 46.8px;
  }

  .card img {
    margin-top: 34px;
    margin-left: -29px;
    width: 249px;
  }

  .card_text_wrapper {
    flex-direction: row;
    margin-top: -33px;
  }

  .card_text_wrapper p {
    font-size: 14px;
  }

  .card_text_wrapper img {
    width: 30px;
    transform: rotate(360deg);
    margin: 0;
  }
}


@media (min-width: 1280px) {
  .section {
    margin-top: 66px;
    height: 910px;
  }

  .content {
    width: 1280px;
    margin: 0 auto;
  }

  .text_block {
    justify-content: space-around;
    max-width: 1280px;
    margin: 0 0 0;
  }

  .text_block h1 {
    margin-left: 43px;
  }

  .text_block p {
    margin: 35px 26px 0 0;
  }

  .cards_wrapper {
    margin: 71px 125px 0;
  }
  .card {
    width: 316px;
    height: 552px;
    border-radius: 52px;
  }
  .card img {
    margin-left: -38px;
    width: 307px;
    margin-top: 39px;
  }

  .card_text_wrapper {
    margin-top: -45px;
  }

  .card_text_wrapper img {
    width: 30px;
    margin: 0;
  }
}


