.section {
  width: 1280px;
  height: 816px;
  background-image: linear-gradient(to top, #fafafc, rgba(255, 255, 255, 0.45));
  display: flex;
  flex-direction: row;
  font-family: Manrope;

  .leftPartWrapper {
    margin-left: 70px;
    margin-top: 150px;

    .hint {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #f43939;
    }

    .mainText {
      width: 467px;
      font-size: 38px;
      font-weight: bold;
      color: #21272e;
    }
  }

  .bigCircle {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 400px;
    background: #f1dcff;
    border-radius: 50%;
    margin-left: -70px;
    margin-top: 90px;
  }

  .componentWrapper {


    .textAfter {
      width: 224px;
      height: 29px;
      opacity: 0.9;
      font-family: HandOfSeanPro;
      font-size: 23px;
      color: #21272e;
    }
  }

  .arrowWrapper {

    width: 70px;

    img {
      width: 70px;
    }
  }
}