%textHandsOfStyle {
  font-size: 23px;
  opacity: 0.9;
  font-family: 'Patrick Hand', cursive;
  color: #21272e;
}

@media (max-width: 360px) {
  .section {
    width: 360px;
    height: 1156px;

    .contact_block {
      text-align: center;
      margin: 0 auto 30px;

      .header_text {
        padding-top: 40px;

        h1 {
          margin: 0 auto;
          font-size: 28px;
          width: 330px;
        }
      }

      .form_block {

        .arrow_wrapper {
          margin-left: 0;

          img {
            margin-top: 36px;
            margin-left: -95px;
          }

          p {
            margin-left: 112px;
            margin-top: -50px;
          }
        }
      }

    }

    .language_block {
      margin: 0 auto;

      .arrow_lang_wrapper {
        img {
          margin-left: 75px;
        }

        p {
          margin: -45px 0 22px 35px;
        }
      }
    }
  }
}

@media (min-width: 361px) {
  .section {
    width: 768px;
    height: 1090px;

    .violet_circle {
      width: 426px;
      height: 426px;
      margin-left: -135px;
    }

    .blue_circle {
      width: 160px;
      height: 160px;
      margin-top: 445px;
      margin-left: -23px;
    }

    .pink_circle {
      width: 256px;
      height: 256px;
      margin-left: 343px;
      margin-top: 179px;
    }

    .contact_block {
      text-align: center;
      margin: 61px 44px 23px 76px;

      .header_text {
        padding-top: 40px;

        h1 {
          margin: 0 auto;
          font-size: 32px;
          width: 506px;
        }
      }

      .form_block {

        .arrow_wrapper {
          margin-left: 200px;

          img {
            margin-top: 58px;
            margin-left: -400px;
          }

          p {
            margin-top: -50px;
          }
        }
      }

    }

    .language_block {
      margin: 0 0 0 250px;

      .arrow_lang_wrapper {
        img {
          margin-left: 115px;
        }

        p {
          margin: -45px 0 22px 85px;
        }
      }
    }
  }
}

@media (min-width: 769px) {

  .section {
    width: 1024px;
    height: 890px;

    .violet_circle {
      margin-left: -114px;
    }

    .pink_circle {
      margin-left: 373px;
      margin-top: 204px;
    }

    .contact_block {
      text-align: left;
      display: flex;
      margin: 162px 44px 110px 76px;

      .header_text {
        margin-top: 84px;
        padding-top: 0;

        h1 {
          margin: 0;
          font-size: 40px;
          width: 400px;
        }
      }

      .form_block {
        margin-left: 97px;

        .arrow_wrapper {
          margin-left: 29px;

          img {
            margin-top: 0;
            margin-left: 0;
          }

          p {
            margin: -41px 0 139px 42px;
          }
        }
      }
    }

    .language_block {
      margin: -440px 0 0 75px;

      .arrow_lang_wrapper {
        img {
          margin-left: -15px;
        }

        p {
          margin: -45px 0 22px -52px;
        }
      }
    }
  }
}

@media (min-width: 1025px) {

  .section {
    width: 1280px;
    height: 679px;

    .pink_circle {
      margin-left: 345px;
      margin-top: 195px;
    }


    .contact_block {
      margin: 135px 149px 124px 76px;

      .header_text {

        h1 {
          width: 490px;
        }
      }

      .form_block {
        margin-left: 154px;

        .arrow_wrapper {

          p {
            margin: -41px 0 35px 42px;
          }
        }
      }
    }

    .language_block {
      margin: -327px 0px 91px 75px;
    }

  }
}

.section {
  background-image: linear-gradient(to top, #fafafc, rgba(255, 255, 255, 0.45));

  .contact_block {

    .header_text {

      h3 {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #f43939;
        margin: 0;
      }

      h1 {
        font-weight: bold;
        color: #21272e;
      }
    }

    .form_block {

      .arrow_wrapper {

        img {
          width: 120px;
          height: 70px;
          object-fit: contain;
          transform: scale(-1, 1);
        }

        p {
          position: static;
          width: 246px;
          text-align: left;
          height: 29px;
          font-size: 23px;
          @extend %textHandsOfStyle;
        }
      }
    }
  }

  .language_block {

    .arrow_lang_wrapper {
      img {
        width: 110px;
        height: 64px;
        object-fit: contain;
      }

      p {
        position: static;
        width: 246px;
        text-align: left;
        height: 29px;
        font-size: 23px;
        @extend %textHandsOfStyle;
      }
    }
  }

  .violet_circle {
    position: absolute;
    z-index: -1;
    background: #f1dcff;
    border-radius: 50%;
  }

  .pink_circle {
    position: absolute;
    z-index: -1;
    background: #FFC2AC;
    border-radius: 50%;
  }

  .blue_circle {
    position: absolute;
    z-index: -1;
    background: #87CEEB;
    border-radius: 50%;
  }
}





