@media (min-width: 361px) {
  .carousel {
    width: 768px;
    flex-direction: column-reverse;

    .circles_wrapper {
      margin: 67px 40px 0 0;
      justify-content: flex-end;
    }

    .carousel_img_bg {
      margin-left: 68px;
      width: 700px;
      height: 592px;
      border-radius: 53px 0 0 53px;
    }
  }
}

@media (min-width: 769px) {

  .carousel {
    width: 1024px;
    flex-direction: row;

    .circles_wrapper {
      margin-top: 430px;
      margin-left: -380px;
      justify-content: normal;
    }

    .carousel_img_bg {
      width: 477px;
      margin-left: 89px;
    }
  }
}

@media (min-width: 1025px) {

  .carousel {
    width: 1280px;
    flex-direction: row;

    .circles_wrapper {
      margin-top: 430px;
      margin-left: -380px;
      justify-content: normal;
    }

    .carousel_img_bg {
      width: 747px;
      margin-left: 75px;
    }
  }
}

.carousel {
  display: flex;

}

.circles {

}

.circles_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;


  .indicator_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 25px;

    .indicator {
      width: 6px;
      height: 6px;
      background-color: rgba(33, 39, 46, 0.15);
      border-radius: 50%;
      margin: 0 5px;
    }
  }

  .circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: solid 1px #dae1e8;
    background-color: #f0f1f2;
    text-align: center;

    img {
      margin-top: 12px;
    }
  }
}

.carousel_img_bg {
  overflow: hidden;
  height: 592px;
  background-color: #fcede8;
  border-radius: 53px 0 0 53px;

  img {
    width: 1000px;
    height: 519px;
    margin-top: 60px;
    margin-left: 30px;
  }
}


.carousel_img_bg img {
  width: 1000px;
  height: 519px;
}