.circles_wrapper {
  height: 65px;
  position: relative;
  width: 187px;
  margin: 28px auto 0;
  box-sizing: border-box;
}

.img_wrapper {
  overflow: hidden;
  margin: 44px 0 0 54px;
  height: 304px;
}

.swiper_button_next:after {
  font-size: 15px;
  color: #000000;
}

.swiper_pagination {
  margin: 0 auto;
  position: relative;
  color: #000000;
  padding: 20px 0 0;
  z-index: 0;
}
.swiper_button_prev {
left: 0;
}

.swiper_button_prev:after {
  font-size: 15px;
  color: #000000;
}

.circle {
  outline: none;
  right: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 1px #dae1e8;
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.circle:hover {
  background-color: #f0f1f2;
}

.carousel_img_bg {
  min-width: 320px;
  width: 100%;
  height: 394px;
  align-self: flex-end;
  border-radius: 53px 0 0 53px;
  overflow: hidden;
  background-color: #fcede8;
}

.carousel_img_bg img {
  height: 100%;
}

:global {
  .swiper-pagination-bullet-active {
    background: #21272e;
  }

  .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

@media (min-width: 768px) {
  .carousel {
    flex-direction: column-reverse;
  }

  .circles_wrapper {
    margin: 56px 39px 0 auto;
  }

  .img_wrapper {
    margin: 44px 0 0 48px;
    height: 497px;
  }

  .carousel_img_bg {
    width: 91%;
    height: 592px;
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
  .circles_wrapper {
    position: absolute;
    margin: -181px 0px 0 75px;
  }

  .carousel_img_bg {
    margin-left: auto;
    min-width: 490px;
    height: 593px;
    width: 48%;
  }
}

@media (min-width: 1280px) {
  .carousel_img_bg {
    min-width: 747px;
  }
}

