@media (min-width: 769px) {

  .carousel {
    .circles {
      margin-left: 100px;
    }

    .carousel_img_wrapper {
      width: 583px;
      margin-left: 697px;
    }
  }
}

@media (min-width: 1025px) {

  .carousel {
    .circles {
      margin-left: 77px;
    }

    .carousel_img_wrapper {
      width: 737px;
      margin-left: 543px;
    }
  }
}


.carousel {
  width: 1280px;
}

.circles {
  margin-left: 100px;
  margin-top: 20px;
}

.circles_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .indicator_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 25px;

    .indicator {
      width: 6px;
      height: 6px;
      background-color: rgba(33, 39, 46, 0.15);
      border-radius: 50%;
      margin: 0 5px;
    }
  }

  .circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: solid 1px #dae1e8;
    background-color: #f0f1f2;
    text-align: center;

    img {
      margin-top: 12px;
    }
  }
}

.carousel_img_wrapper {
  position: absolute;
  overflow: hidden;
  height: 592px;
  background-color: #FFC2AC;
  border-radius: 60px 0 0 60px;
  margin-top: -450px;

  img {
    width: 1000px;
    height: 519px;
    margin-top: 60px;
    margin-left: 30px;
  }
}


.carousel_img_wrapper img {
  width: 1000px;
  height: 519px;
  margin-top: 60px;
  margin-left: 30px;
}