@media (min-width: 769px) {

}

@media (min-width: 1025px) {

}

.nav a{
    margin-right: 24px;
    font-size: 12px;
    text-decoration: none;
    height: 17px;
    font-weight: 600;
}

.nav a:hover {
    color: #3897ff;
}