@media (min-width: 769px) {
    .nav a {
        font-size: 14px;
        margin-right: 36px;
    }
}

@media (min-width: 1025px) {
    .nav a {
        font-size: 12px;
        margin-right: 24px;
    }
}

.nav a{
    text-decoration: none;
    height: 17px;
    font-weight: 600;
}