.section {
  background-color: #fcfdff;
  font-family: Manrope;
  padding-bottom: 90px;

  .questionText {
    padding-top: 100px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #f43939;
  }

  .headerText {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #21272e;
  }

  .rectangle {
    width: 272px;
    height: 2px;
    opacity: 0.1;
    background-color: #21272e;
  }

  .imagesWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

    .imageWrapper{
      width: 70px;
      margin: 0 35px;

      img{
        width: 70px;
      }
    }
  }

  .stepsInfoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;



    .stepText {
      margin: 0 95px;
      text-align: center;

      .stepHeader {
        font-family: Manrope;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #21272e;
      }
      .stepInfo {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: #787c80;
        width: 220px;
      }
    }
  }
}