.section {
  background-color: #fafbfd;
  padding-bottom: 82px;
}

.steps_wrapper {
  display: flex;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}

.block img {
  width: 57px;
  height: 56px;
  object-fit: contain;
}

.first_text {
  margin: 0 auto;
  width: 290px;
}

.second_text {
  width: 200px;
  margin: 0 auto;
  line-height: 20px;
}

.third_text {
  margin: 0 auto;
  width: 151px;
}

.section h2 {
  padding-top: 74px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #f43939;
}

.section h1 {
  line-height: 42px;
  font-size: 28px;
  margin: 6px auto 57px;
  width: 300px;
  font-weight: bold;
  text-align: center;
  color: #21272e;
}

#center_text {
  width: 200px;
}

#first_block {
  margin: 0;
}

#second_block {
  margin: 0;
}

#last_block {
  margin: 0;
}

.line {
  width: 2px;
  height: 56px;
  margin: 25px auto 22px;
  opacity: 0.1;
  background-color: #21272e;
}

#last_line {
  margin: 23px auto;
}

.block h3 {
  margin: 6px auto 2px;
  width: 237px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #21272e;
}

.block p {
  position: static;
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #787c80;
  width: 287px;
}

@media (min-width: 768px) {
  .section {
    padding-bottom: 103px;
  }

  .steps_wrapper {
    flex-direction: column;
  }

  .line {
    width: 2px;
    height: 56px;
    margin: 24px auto;
  }

  .section h2 {
    padding-top: 89px;
  }

  .section h1 {
    width: 483px;
    font-size: 32px;
    margin: 16px auto 79px;
  }

  .block p {
    width: 290px;
  }

  .block h3 {
    margin: 4px auto 3px;
  }

  #last_block {
    margin-top: 18px;
  }

  #last_block p {
    width: 209px;
  }

  #last_line {
    margin: 6px auto;
  }
}

@media (min-width: 1024px) {
  .steps_wrapper {
    flex-direction: row;
    width: 920px;
  }

  .section h1 {
    margin: 6px auto 91px;
  }

  .section h2 {
    padding-top: 77px;
  }

  .block h3 {
    margin: 21px auto 2px;
  }

  .line {
    position: absolute;
    width: 218px;
    height: 2px;
    margin: 27px 0 0 173px;
  }

  #last_line {
    margin: 27px 0 0 519px;
  }

  #first_block {
    margin: 0 0 0 -31px;
  }

  #second_block {
    margin: 0 0 0 81px;
  }

  #last_block {
    margin: 0 0 0 105px;
  }

  #last_block p {
    width: 140px;
  }
}

@media (min-width: 1280px) {
  .steps_wrapper {
    width: 1100px;
  }

  .section h1 {
    margin: 16px auto 91px;
  }

  #last_line {
    margin: 27px 0 0 608px;
  }

  #first_block {
    margin: 0 0 0 11px;
  }

  #second_block {
    margin: 0 0 0 129px;
  }

  #last_block {
    margin: 0 0 0 156px;
  }

  #last_block p {
    width: 140px;
  }
  .line {
    width: 273px;
    margin: 28px 0 0 218px;
  }
}


